
<% 
    tags = camp_get_sorted_tags(camp)
%>

<div class="hero camp-hero <%= camp.hero_image.present? ? "hero-image" : "no-image" %>" >
    <div class="content">
        <% if camp.hero_image.present? %>
            <%= render "uis/thumb_images/thumb_image",
                type: "circular",
                size: "medium",
                image: camp.hero_image %>
        <% end %>
        <div class="flex-container body">
            <div class='header'>
                <a href="<%= index_camp_activities_path(@organization, camp) %>" class="title">
                    <h2><%= camp.name %></h2>
                </a>

                <% if tags.count > 0 %>
                    <div class="flex-wrap-container">
                        <% tags.each do |t| %>
                            <%= render "uis/tags/tag",
                                tg: t,
                                size: "small" %>
                        <% end %>
                    </div>
                <% end %>

            </div>
            <div>
                <%= render "uis/buttons/styled/edit-button",
                    camp: camp %>
            </div>
        </div>
    </div>
</div>
