


<div class="hero camp-hero <%= camp.hero_image.present? ? "hero-image" : "no-image" %>" >
    <div class="content">
        <% if camp.hero_image.present? %>
            <%= render "uis/thumb_images/thumb_image",
                type: "circular",
                size: "medium",
                image: camp.hero_image %>
        <% end %>
        <div class="flex-container">
            <a href="<%= index_camp_activities_path(@organization, camp) %>"><h2 class="title"><%= camp.name %></h2></a>
            <div>
                <%= render "uis/buttons/text-link",
                    text: "Edit camp",
                    size: "medium",
                    href: edit_camp_path(@organization, camp) %>
            </div>
        </div>
    </div>
</div>
