<%

    @profile = Profile.find_by(user_id: current_user.id)

%>


<div class="hero organization-hero">
    <div class="header">
        <%= render "uis/grammar/location_metro",
                location: @organization %>
        <h1 class="title"><%= organization.name %></h1>
        <div class="flex-container">
            <div class="flex-container">
                <%= render "uis/buttons/styled/favorite-organization-button",
                    type: "text",
                    organization: @organization %>
                    
                <%= render "uis/buttons/styled/edit-button",
                    organization: organization %>
            </div>
        </div>
    </div>
    <div class="image-outer-container">
        <div class="left-image image hero-image">
            <%= image_tag(organization.hero_image) if organization.hero_image.attached? %>
        </div>
        <div class="right-image">
        </div>
    </div>
</div>