<%

    @profile = Profile.find_by(user_id: current_user.id)

%>


<div class="hero organization-hero">
    <div class="header">
        <%= render "uis/grammar/location_metro",
                location: @organization %>
        <h1 class="title"><%= organization.name %></h1>
        <div class="flex-container">
            <div class="flex-container">
                <% if @organization.favorited?(current_user) %>
                    <%= form_with url: destroy_favorite_organization_path(@organization.id), method: :delete do |form| %>
                        <%= form.button style: 'background-color: transparent; border: none;' do %>
                        <span style="color:red;">❤︎</span>
                        <% end %>
                    <% end %>
                <% else %>
                    <%= form_with url: create_favorite_organization_path(@organization.id), method: :post do |form| %>
                        <%= form.button style: 'background-color: transparent; border: none;' do %>
                          <span>❤︎</span>
                        <% end %>
                    <% end %>
                <% end %>

                <%= render "uis/buttons/text-link",
                    text: "Edit organization",
                    size: "medium",
                    href: edit_organization_path(organization) %>
            </div>
        </div>
    </div>
    <div class="image-outer-container">
        <div class="left-image image hero-image">
            <%= image_tag(organization.hero_image) if organization.hero_image.attached? %>
        </div>
        <div class="right-image">
        </div>
    </div>
</div>