

<% if defined?(tg)
        @text = tg.name
        @icon = tg.icon
    else
        @text = defined?(text) ? text  : nil 
        @icon = defined?(icon) ? icon  : nil 
    end
%>


<% if defined?(href) %>
    <a class="tag <% defined?(type) ? type : "" %> <%= size %>" href=<%= href %>>
        <% if defined? @icon %>
            <%= image_tag(@icon) if @icon.present? %>
        <% end %>
        <%= @text %>
    </a>
<% else %>
    <div class="tag <% defined?(type) ? type : "" %> <%= size %>">
        <% if defined? @icon %>
            <%= image_tag(@icon) if @icon.present? %>
        <% end %>
        <%= @text %>
    </div>
<% end %>