

<% if defined?(tg)
        _text = tg[:name]
        
        if defined?(tg.icon)
            _icon = tg.icon
        else
            _icon = tg[:icon]
        end
    else
        _text = defined?(text) ? text  : nil 
        _icon = defined?(icon) ? icon  : nil 
    end

    _type = defined?(type) ? type : ""

%>


<% if defined?(href) %>
    <a class="tag <%= _type %> <%= size %>" href=<%= href %>>
        <% if defined? _icon %>
            <%= image_tag(_icon) if _icon.present? %>
        <% end %>
        <%= _text %>
        <%= image_tag("/images/icons/cross-black.svg", class: "close-icon") if (_type == "selectable" && selected) %>
    </a>
<% else %>
    <div class="tag <%= _type %> <%= size %>">
        <% if defined? _icon %>
            <%= image_tag(_icon) if _icon.present? %>
        <% end %>
        <%= _text %>
        <%= image_tag("/images/icons/cross-black.svg", class: "close-icon") if (_type == "selectable" && selected) %>
    </div>
<% end %>