<div class="view-outer-container single-column">
    <div class="content">
        <%= render "components/titles/page-title",
        title: "Create profile" %>
        <%= form_with(url: create_profile_path, model: @profile, local: true, method: :post, html: { class: 'form-container' }) do |f| %>

        
        <% if @profile.is_a?(ActiveRecord::Base) && @profile.errors.any? %>
            <ul>
                <% @profile.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>

        <%# NAME %>
        <%= render "components/forms/profile-name", 
            f: f,
            form_target: @profile
        %>


        <%# LOCATION %>
        <%= render "components/forms/location", 
            f: f,
            form_target: @profile
        %>



        <div class="button-group">
            <%= f.submit 'Create', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>