<div class="view-outer-container single-column">
  
  <%# 
    PROFILE TOP
  %>
  <%= render "components/cards/organization-thumb-card",
    organization: @organization
  %>
  
  <div class="content">
    <div class="header-container flex-container">
      <%= render "components/titles/page-title",
        title: "Edit camp" %>
      
      <%= link_to 'Duplicate', duplicate_camp_path(@organization, @camp), model: @camp, class:  "btn btn-danger" %>
    </div>
    
    <%= form_with(url: update_camp_path, model: @camp, local: true, method: :post, html: { class: 'form-container' }) do |f| %>

      <% if @camp.errors.any? %>
        <ul>
          <% @camp.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %> </ul>
      <% end %>

      <%= render "camps/components/camp_form", 
          f: f,
          form_target: @camp,
          form_parent: @organization
      %>
      
      <%= render "camps/components/camp_form_button", 
          type: "update",
          f: f
      %>

    <% end %>
  </div>
</div>