<div class="search-container">
  <%= form_with url: index_organization_path, class: "form", method: :get, local: true do |form| %>
    <input class="input" type="text" name="title" placeholder="Search by name" value="<%= params[:title] %>">
    <%= form.submit "Search", class: "button" %>
  <% end %>
</div>

<div class="post-list">
  <% @camp.each do |camp| %>
    <a class="post" href="<%= edit_camp_path(camp) %>">
      <div class="header">
        <h2 class="title"><%= camp.name %></h2>
        <p class="timestamp"><%= camp.created_at.strftime("%B %d, %Y") %></p>
      </div>
      <div class="body">
        <p class="content"><%= camp.description %></p>
      </div>
      <div class="image">
        <%= image_tag(camp.hero_image) if camp.hero_image.attached? %>
      </div>
    </a>
  <% end %>
</div>