<div class="view-outer-container single-column">

  <%# 
  PROFILE TOP
  %>
  <%= render "components/cards/organization-thumb-card",
    organization: @organization
  %>

  <div class="content">
    <%= render "components/titles/page-title",
      title: "Add camp" %>

      
    <%= form_with(url: create_camp_path(@organization), model: @camp, local: true, method: :post, html: { class: 'form-container' }) do |f| %>
      <% if @camp.errors.any? %>
        <ul>
          <% @camp.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %> </ul>
      <% end %>

      <%= render "camps/components/camp_form", 
          f: f,
          form_target: @camp,
          form_parent: @organization
      %>
      
      <%= render "camps/components/camp_form_button", 
          type: "create",
          f: f
      %>

    <% end %>
  </div>



</div>