<div class="post-list">
  <a class="post" href="<%= edit_organization_path(@organization) %>">
    <div class="header">
      <h2 class="title"><%= @organization.name %></h2>
    </div>
  </a>
</div>

<div class="col-md-6 mx-auto form-container">
  <div class="form-container">
    <div class="comment">
      <%= form_with(url: create_camp_path(@organization), model: @camp, local: true, method: :post) do |f| %>

        <% if @camp.errors.any? %>
          <ul>
            <% @camp.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %> </ul>
        <% end %>

        <div class="form-group">
            <%= f.label "Name", class: 'form-label' %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label "Description", class: 'form-label' %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class="form-group image-upload">
          <%= f.label "Hero image", class: 'form-label' %>
          <div class="image-preview" id="imagePreview">
            <img src="" alt="Image Preview" class="image-preview__image">
            <span class="image-preview__default-text">Image will be displayed here</span>
          </div>
          <%= f.file_field :hero_image, class: 'form-control-file', id: 'imageUpload' %>
        </div>

        <div class="button-group">
          <%= f.submit 'Create', class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<div class="post-list">
  <% @camps.each do |camp| %>
    <a class="post" href="<%= new_activity_path(@organization, camp) %>">
      <div class="header">
        <h2 class="title"><%= camp.name %></h2>
        <p class="timestamp"><%= camp.created_at.strftime("%B %d, %Y") %></p>
      </div>
      <div class="body">
        <p class="content"><%= camp.description %></p>
      </div>
      <div class="image">
        <%= image_tag(camp.hero_image) if camp.hero_image.attached? %>
      </div>
    </a>
  <% end %>
</div>