<div class="view-outer-container double-column">

    <%# 
        PROFILE HERO
    %>
    <%= render "camps/components/camp_profile_hero",
        organization: @organization,
        selected: 0
    %>


    <%# 
        Overview
    %>
    <div class="section camp overview side-panel-grid-container">
        <div>
            <%= @camp.description %>
        </div>
        <div class="side-panel-container">
            <div class="side-panel-section-container">
                <%= render "uis/grammar/location",
                    location: @camp %>
                <%= render "uis/grammar/age-group",
                    age_group_min: @camp.age_group_min,
                    age_group_max: @camp.age_group_max %>
            </div>

            <div class="side-panel-section-container">
                <%= render "uis/lists/list_item", title: "Website", content: @camp.website, href: @camp.website %>
                <%= render "uis/lists/list_item", title: "Email", content: @camp.email %>
            </div>

            
            
        </div>
        
    </div>
    

</div>