

if weekly_price.is_a?(Integer)
    <div class="grammar-price <%=  defined?(size) ? size : ""%>">
        <%= defined?(static_price) && !static_price ? "From" : "" %>
    </div>
elsif price.is_a?(Integer)
    <div class="grammar-price <%=  defined?(size) ? size : ""%>">
        <%= defined?(static_price) && !static_price ? "From" : "" %>
        <div class="figure">$<%= price %></div>session
    </div>
else
end