
<% 
    @size = defined?(size) ? size : "regular"
%>

<% if defined?(weekly_price) && weekly_price.is_a?(Integer) %>
    <div class="grammar grammar-price <%= @size %>">
        <div>From <span class="figure">$<%= weekly_price %></span> week</div>
    </div>
<% elsif price.is_a?(Integer) %>
    <div class="grammar grammar-price <%= @size %>">
        <%= defined?(static_price) && !static_price ? "From" : "" %>
        <div><span class="figure">$<%= price %></span> session</div>
    </div>
<% else %>
<% end %>