<%

    @type = "regular"
    if(defined?(type))
        @type = type
    end

%>



<div class="tabs page-tabs <%= @type %>">
    <% tabs.each do |t| %>
        <a class="tab <%= t[:id] %> <%= selected %> <%= t[:id] == selected ? "selected" : "unselected" %>" href="<%= t[:href] %>">
            <% if @type == "icon" && defined?(t.icon) %>
                <%= image_tag(t.icon) if t.icon.present? %>
            <% end %>
            <%= t[:name] %>
        </a>
    <% end %>
</div>