

<% if @page == "1" %>
    <%# Overview %>
    <%= render "components/forms/overview", 
    f: f,
    form_target: @camp
    %>
    
    <%# Templates %>
    <%= render "components/forms/camp-format", 
        f: f,
        form_target: @camp
    %>

    <div class="form-group image-upload">
    <%= f.label "Hero image", class: 'form-label' %>
    <div class="image-preview" id="imagePreview">
        <img src="<%= @camp.hero_image.attached? ? url_for(@camp.hero_image) : "" %>" alt="Image Preview" class="image-preview__image <%= @camp.hero_image.attached? ? "-block" : "" %>">
        <span class="image-preview__default-text <%= @camp.hero_image.attached? ? "-none" : "" %>">No image uploaded</span>
    </div>
    <%= f.file_field :hero_image, class: 'form-control-file', id: 'imageUpload' %>
    </div>

    <%# AGE GROUPS %>
    <%= render "components/forms/age-group", 
    f: f,
    page: "camp",
    form_target: @camp,
    form_parent: @organization
    %>

    <%# TIME %>
    <%= render "components/forms/time", 
        f: f,
        page: "camp",
        form_target: @camp
    %>

    <%# PRICE %>
    <%= render "components/forms/price", 
    f: f,
    page: "camp",
    form_target: @camp,
    form_parent: @organization,
    base_price: @base_price,
    discount_price: @discount_price
    %>
    
    <%# THEMES %>
    <% if @camp_type != 1 %>
    <%= render "components/forms/themes", 
        f: f,
        form_target: @camp
    %>
    <% end %>

<% elsif @page == "2" %>

    <%# LOCATION %>
    <%= render "components/forms/location", 
        f: f,
        form_target: @camp,
        form_parent: @organization
    %>

<% elsif @page == "3" %>

    <%# CONTACTS %>
    <%= render "components/forms/contacts", 
        f: f,
        form_target: @camp,
        form_parent: @organization
    %>

<% end %>