



<div class="button-group">
    
    <% if @page != "1" %>
        <%= f.button "Save and back to overview edit page", type: "submit", class: "button secondary medium full-width", name: "next", value: "1" %>
    <% end %>
    
    <% if @page == "1" %>
        <div class="optional-button">
            <div class='left-container'>
                <h6>Edit location</h6>
                <div class="subtext">
                    Edit only if camp takes place at a different location from your organization location.
                    <%= render "uis/grammar/location", organization: @organization, camp: @camp %>
                </div>
            </div>
            <%= f.button "Edit", type: "submit", class: "text-link regular", name: "next", value: "2" %>
        </div>
        <div class="optional-button">
            <div class='left-container'>
                <h6>Edit contact</h6>
                <div class="subtext">
                    Edit only if camp contact is different from organization's contacts. <ul><li>Website: <%= @organization.website %></li><li>Phone: <%= @organization.phone %></li><li>Email: <%= @organization.email %></li></ul>
                </div>
            </div>
            <%= f.button "Edit", type: "submit", class: "text-link regular", name: "next", value: "3" %>
        </div>
    <% end %>
    
    <%= f.button "Done", type: "submit", class: "button primary medium full-width", name: "next", value: "0" %>
    
    <% if type == "update" %>
        <%= link_to 'Delete camp', camp_destroy_path(@camp.id.nil? ? 0 : @camp), method: :delete, data: { confirm: 'Are you sure you want to delete?' }, class: "text-link danger small center" %>
    <% end %>
</div>