<div class="search-container">
  <%= form_with url: index_tag_path, class: "form", method: :get, local: true do |form| %>
    <input class="input" type="text" name="title" placeholder="Search by name" value="<%= params[:title] %>">
    <%= form.submit "Search", class: "button" %>
  <% end %>
</div>

<div class="view-outer-container organizations-index-container">
  <% tag_get_tags_by_group().each do |t| %>
    <div class="tag-group">
      <%= render "uis/tags/tag",
        href: edit_tag_path(t[:record].id),
        text: "#{t[:record].name}, id=#{t[:record].id}",
        icon: t[:record].icon,
        size: "small" %>
      <% if !t[:children].nil? %>
        <div class="children-group flex-wrap-container">
          <% t[:children].each do |ct| %>
            <%= render "uis/tags/tag",
              href: edit_tag_path(ct[:record].id),
              text: "#{ct[:record].name}, id=#{ct[:record].id}",
              icon: ct[:record].icon,
              size: "small" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>