<div>

    <div class="dashboard-tab-header">
        <div class="stats">
            <div class="dashboard-stats-tile">
                <div class="title">Total sessions:</div>
                <h6 class="stat"><%= @activities.count%></h6>
            </div>
        </div>
    </div>
    




    <div class="dashboard-list-line header">
        <div class="dates">Dates</div>
        <div class="title">Title</div>
        <div class="time">Time</div>
        <div class="Wishlisted">Wishlisted</div>
        <div class="Confirmed">Confirmed</div>
        <div></div>
        <div></div>
    </div>



    <% @activities.map do |a| %>
        <% _sa = ScheduleActivity.where(activity_id: a.id)%>
        <div class="dashboard-list-line">
            <div class="dates">
                <%= render "uis/grammar/week",
                        type: 'secondary',
                        size: "small",
                        start_at: a.start_at,
                        end_at: a.end_at %>
            </div>
            <div class="title">
                <%= a.name %>
            </div>
            <div class="time">
                <%= render "uis/grammar/time",
                        type: 'secondary',
                        size: "small",
                        start_time: a.start_time,
                        end_time: a.end_time %>
            </div>
            <div class="Wishlisted"><%= _sa.count %></div>
            <div class="Confirmed"><%= _sa.count %></div>
            <div></div>
            <%= render "uis/buttons/styled/edit-button",
                size: "small",
                    activity: a %>
        </div>
    <% end %>

</div>
