<%
    if form_target.website.presence
        @website = form_target.website
    elsif defined?(form_parent) && form_parent.website.presence
        @website = form_parent.website
    else
        @website = ""
    end

    if form_target.phone.presence
        @phone = form_target.phone
    elsif defined?(form_parent) && form_parent.phone.presence
        @phone = form_parent.phone
    else
        @phone = ""
    end
        
    if form_target.email.presence
        @email = form_target.email
    elsif defined?(form_parent) && form_parent.email.presence
        @email = form_parent.email
    else
        @email = ""
    end
%>

<div class="form-group">
    <%= render "components/titles/segment-title",
        title: "Contacts" %>
    <div class="form-field">
        <%= f.label "Website", class: 'form-label' %>
        <%= f.text_field :website, value: @website, class: 'form-control' %>
    </div>
    <div class="form-field">
        <%= f.label "Phone number", class: 'form-label' %>
        <%= f.text_field :phone, value: @phone, class: 'form-control' %>
    </div>
    <div class="form-field">
        <%= f.label "Email", class: 'form-label' %>
        <%= f.text_field :email, value: @email, class: 'form-control' %>
    </div>
</div>