<%
    if form_target.base_price.presence
        @base_price = form_target.base_price
    elsif defined?(form_parent.base_price) && form_parent.base_price.presence
        @base_price = form_parent.base_price
    else
        @base_price = ""
    end

    if form_target.discount_price.presence
        @discount_price = form_target.discount_price
    elsif defined?(form_parent.discount_price) && form_parent.discount_price.presence
        @discount_price = form_parent.discount_price
    else
        @discount_price = ""
    end

    if defined?(form_target.minimum_discount_week) && form_target.minimum_discount_week.presence
        @minimum_discount_week = form_target.minimum_discount_week
    elsif defined?(form_parent.minimum_discount_week) && form_parent.minimum_discount_week.presence
        @minimum_discount_week = form_parent.minimum_discount_week
    else
        @minimum_discount_week = ""
    end

    if defined?(form_target.required_minimum_session) && form_target.required_minimum_session.presence
        @required_minimum_session = form_target.required_minimum_session
    elsif defined?(form_parent.required_minimum_session) && form_parent.required_minimum_session.presence
        @required_minimum_session = form_parent.required_minimum_session
    else
        @required_minimum_session = 1
    end
%>


<div class="form-group">
    <%= render "components/titles/segment-title",
        title: "Cost for each session" %>
    <div class="form-field">
        <%= f.label "Base cost for each session", class: 'form-label' %>
        <%= f.text_field :base_price, value: @base_price, class: 'form-control' %>
    </div>
    <div class="form-field">
        <%= f.label "Discounted cost (optional)", class: 'form-label discounted-price-field' %>
        <div class="form-discounted-price">
            <%= f.text_field :discount_price, value: @discount_price, class: 'form-control' %>
            <div class="description">
            by signing up <%= f.text_field :minimum_discount_week, value: @minimum_discount_week, class: 'form-control line-field' %> weeks or more.
            </div>
        </div>
    </div>

    <% if page == "camp" %>
        <div class="form-field">
            <%= f.label "Required minimum week to register", class: 'form-label' %>
            <%= f.select :required_minimum_session, 
                options_for_select(
                    required_minimum_session_options.map{|c|[c[:name], c[:id]]},
                    :selected => @required_minimum_session), 
                {class: 'form-drop-box'} %>
        </div>
    <% end %>

</div>