<div class="card thread-card">
    <div class="content">
        <div class="header">
            <h6 class="date"><%= activity.start_month %>/<%= activity.start_date %> - <%= activity.end_month %>/<%= activity.end_date %></h6>
            <h6><%= activity.name %></h6>
        </div>
        <a href="<%= edit_activity_path(organization.id, camp.id, activity.id) %>">Edit activity</a>
    </div>
</div>