<a href="<%= index_camp_activities_path(@organization, camp) %>">
    <div class="hero-card camp" >
        <div class="content">
            <% if defined?(camp.hero_image) %>
                <%= render "uis/thumb_images/thumb_images",
                    type: "circular",
                    size: "large",
                    image: camp.hero_image %>
            <% end %>
            <div class="flex-container">
                <div class="overview-container">
                    <h3 class="title"><%= camp.name %></h3>
                    <% if defined?(camp.subhead) %>
                        <h5><%= camp.subhead %></h5>
                    <% end %>
                    <% if defined?(camp.description) %>
                        <p><%= camp.description %></p>
                    <% end %>
                </div>
                <div>
                    <%= render "uis/buttons/text-link",
                        text: "Edit camp",
                        size: "medium",
                        href: edit_camp_path(@organization, camp) %>
                </div>
            </div>
        </div>
    </div>
</a>