



<a class="card grid-card" href="<%= href %>">
    <div class="image">
        <%= image_tag(hero_image) if hero_image.attached? %>
    </div>
    <div class="content">
        <h6 class="title"><%= title %></h6>
        <div class="sub-information"><%= sub_information %></div>
        <% if defined?(price) %>
            <%= render "uis/grammar/price", price: price %>
        <% end %>
        <% if defined?(weekly_price) %>
            <%= render "uis/grammar/price", weekly_price: weekly_price %>
        <% end %>
    </div>
</a>