<% if defined?(size)
    @size = size
else
    @size = "regular"    
end %>


<% if organization.favorited?(current_user) %>
    <%= form_with url: destroy_favorite_organization_path(organization.id), method: :delete do |form| %>
        <%= form.button style: 'background-color: transparent; border: none;' do %>
            <% if defined?(type) && type == "text" %>
                <%= render "uis/buttons/text-link",
                    text: "Saved",
                    size: @size,
                    icon: {
                        src: "/images/icons/heart-on.svg"
                    } %>
            <% else %>
                <span style="color:red;">Save this ❤︎</span>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <%= form_with url: create_favorite_organization_path(organization.id), method: :post do |form| %>
        <%= form.button style: 'background-color: transparent; border: none;' do %>
            <% if defined?(type) && type == "text" %>
                <%= render "uis/buttons/text-link",
                    text: "Save",
                    size: @size,
                    icon: {
                        src: "/images/icons/heart-off.svg"
                    } %>
            <% else %>
                <span style="color:red;">Save this ❤︎</span>
            <% end %>
        <% end %>
    <% end %>
<% end %>