<div class="view-outer-container single-column">
  <div class="content">
    <%= render "components/titles/page-title",
      title: "Edit organization" %>
    <%= form_with(url: update_organization_path, model: @organization, local: true, method: :post, html: { class: 'form-container' }) do |f| %>

      <%= render "organizations/components/organization_form", 
          f: f,
          form_target: @organization
      %>

      <div class="button-group">
        <%= link_to 'Delete', destroy_organization_path(@organization), method: :delete, data: { confirm: 'Are you sure you want to delete?' }, class: "btn btn-danger" %>
        <%= f.submit 'Update', class: 'button primary medium full-width' %>
      </div>

    <% end %>
  </div>
</div>