<div class="view-outer-container organizations-index-container">

    <div class="tabs page-tabs icon">
      <% @tags.each do |t| %>

          <% 
            _selected = @categories.select{|c|
             c.name.downcase == t.name.downcase
            }.count > 0
          %>

          <%= link_to index_organization_path(categories: t.name.downcase), :class => "tab #{t[:id]} #{_selected ? 'selected' : 'unselected'}" do %>
              <% if defined?(t.icon) %>
                  <%= image_tag(t.icon) if t.icon.present? %>
              <% end %>
              <%= t[:name] %>
          <% end %>
      <% end %>
    </div>

    <div class="filter-quick-access-container">
      <% if @locations.count > 0 %>
        <span class="subtext">Metros:</span>
        <% @locations.each do |loc| %>
          <%= render "uis/tags/tag",
              type: "selectable",
              selected: true,
              tg: loc,
              size: "small" %>
        <% end %>
      <% end %>

    </div>
    

    <% if @locations.count == 0 %>
      <div class="index-section metros">
        <h5 class="title">Featured metros</h5>
        <div class="flex-container center">
          <% location_region_options.select{|loc| [1, 2, 3].select{|f_loc| f_loc == loc[:id]}.count>0}.each do |f_loc| %>
            <%= link_to index_organization_path(locations: f_loc[:name].downcase), class:"circular-thumbnail-unit" do %>
              <% if f_loc[:hero_image].present? %>
                  <%= render "uis/thumb_images/thumb_image",
                      type: "circular",
                      size: "regular",
                      image: f_loc[:hero_image] %>
              <% end %>
              <div class="h6-reg"><%= f_loc[:name] %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <div class="grid-container">
        <% @organizations.each do |organization| %>
            <%= render "components/cards/organization-grid-card",
                organization: organization
            %>
        <% end %>
    </div>

</div>