<div class="view-outer-container single-column">
  <div class="row">
    <div class="col-md-8 mx-auto form-container">
      <h2>New organization</h2>
      <%= form_with(url: create_organization_path, model: @organization, local: true, method: :post, html: { class: 'organization-form' }) do |f| %>
        <% if @organization.errors.any? %>
            <ul>
                <% @organization.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>

        <div class="form-group">
          <%= f.label "Name", class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label "Description", class: 'form-label' %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class="form-group image-upload">
          <%= f.label "Hero image", class: 'form-label' %>
          <div class="image-preview" id="imagePreview">
            <img src="" alt="Image Preview" class="image-preview__image">
            <span class="image-preview__default-text">Image will be displayed here</span>
          </div>
          <%= f.file_field :hero_image, class: 'form-control-file', id: 'imageUpload' %>
        </div>

        <div class="form-group">
            <h4>Locations</h4>
            <%= f.label "Zip code", class: 'form-label' %>
            <%= f.text_field :zip_code, class: 'form-control' %>
            <%= f.label "Country", class: 'form-label' %>
            <%= f.text_field :country, class: 'form-control' %>
            <%= f.label "State", class: 'form-label' %>
            <%= f.text_field :state, class: 'form-control' %>
            <%= f.label "City", class: 'form-label' %>
            <%= f.text_field :city, class: 'form-control' %>
        </div>

        <div class="form-group">
            <h4>Contact</h4>
            <%= f.label "Website", class: 'form-label' %>
            <%= f.text_field :website, class: 'form-control' %>
            <%= f.label "Phone number", class: 'form-label' %>
            <%= f.text_field :phone, class: 'form-control' %>
            <%= f.label "Email", class: 'form-label' %>
            <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="button-group">
          <%= f.submit 'Create', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>