<% 
  @camp_type = @camp.camp_type.present? ? @camp.camp_type : 0;
%>


<div class="view-outer-container single-column">
  
  <%= render "components/cards/camp-thumb-card",
    organization: @organization,
    camp: @camp
  %>

  <div class="content">
    <div class="header flex-container">
      <%= render "components/titles/page-title",
        title: "Edit session" %>
      <%= render "uis/buttons/styled/duplicate-button",
          s: @activity %>
    </div>
    <%= form_with(url: update_activity_path, model: @activity, local: true, method: :post, html: { class: 'form-container' } ) do |f| %>

      <%= render "activities/components/activity_form", 
          f: f,
          form_target: @activity,
          form_parent: @camp
      %>

      <%= render "activities/components/activity_form_button", 
          type: "update",
          f: f
      %>

    <% end %>

  </div>
</div>
