<div class="view-outer-container double-column">


  <%# 
      PROFILE TOP
  %>
  <% if defined?@organization %>
    <%= render "components/heroes/organization-hero",
        organization: @organization %>
  <% else %>
    <div class="search-container">
      <%= form_with url: index_organization_path, class: "form", method: :get, local: true do |form| %>
        <input class="input" type="text" name="title" placeholder="Search by name" value="<%= params[:title] %>">
        <%= form.submit "Search", class: "button" %>
      <% end %>
    </div>
  <% end %>





  <div class="container camp">
    <%= render "components/heroes/camp-hero",
        camp: @camp %>
    <div class="thread-container">
      <% @activity.each do |activity| %>
        <%= render "components/cards/activity-card",
                  activity: activity %>
      <% end %>
      <%= render "uis/buttons/button",
            type: "empty",
            text: "Add activity",
            size: "medium",
            href: new_activity_path(@organization, @camp) %>
    </div>
  </div>

</div>