<% 
  @camp_type = @camp.camp_type.present? ? @camp.camp_type : 0;
%>

<div class="view-outer-container single-column">
  
  <%= render "components/cards/camp-thumb-card",
    organization: @organization,
    camp: @camp
  %>

  <div class="content">
    <%= render "components/titles/page-title",
    title: "Add activity" %>
    <%= form_with(url: create_activity_path, model: @activity, local: true, method: :post, html: { class: 'form-container' } ) do |f| %>

      <%= render "activities/components/activity_form", 
          f: f,
          form_target: @activity,
          form_parent: @camp
      %>

      <%= render "activities/components/activity_form_button", 
          type: "create",
          f: f
      %>

    <% end %>
  </div>
</div>
