<div class="view-outer-container single-column">
  
  <%= render "components/cards/camp-thumb-card",
    organization: @organization,
    camp: @camp
  %>

  <div class="content">
    <%= render "components/titles/page-title",
    title: "Add activity" %>
    <%= form_with(url: create_activity_path, model: @activity, local: true, method: :post, html: { class: 'form-container' } ) do |f| %>

      <div class="form-group" id="overview">
        <div class="form-field">
          <%= f.label "Name", class: 'form-label' %>
          <%= f.text_field :name, value: @activity.name, class: 'form-control' %>
        </div>

        <div class="form-field">
          <%= f.label "Description", class: 'form-label' %>
          <%= f.text_area :description, value: @activity.description, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group image-upload">
        <%= f.label "Hero image", class: 'form-label' %>
        <div class="image-preview" id="imagePreview">
          <img src="" alt="Image Preview" class="image-preview__image">
          <span class="image-preview__default-text">Image will be displayed here</span>
        </div>
        <%= f.file_field :hero_image, class: 'form-control-file', id: 'imageUpload' %>
      </div>

      <div class="form-group">
          <h4>Age groups</h4>
          <div class="form-field">
            <%= f.label "Minimum age group (Please select this only, if the target age group is one)", class: 'form-label' %>
            <%= f.text_field :age_group_min, value: defined?(@camp.age_group_min) ? @camp.age_group_min: "", class: 'form-control' %>
          </div>
          <div class="form-field">
            <%= f.label "Max age group (optional)", class: 'form-label' %>
            <%= f.text_field :age_group_max, value: defined?(@camp.age_group_max) ? @camp.age_group_max : "", class: 'form-control' %>
          </div>
      </div>

      <div class="form-group">
          <h4>Dates</h4>
          <div class="form-dates-group">
            <h6>Starting from</h6>
            <div class="flex-container">
              <div class="form-field">
                <%= f.label "Year", class: 'form-label' %>
                <%= f.text_field :start_year, class: 'form-control', value: '2023' %>
              </div>
              <div class="form-field">
                <%= f.label "Month", class: 'form-label' %>
                <%= f.text_field :start_month, class: 'form-control' %>
              </div>
              <div class="form-field">
                <%= f.label "Date", class: 'form-label' %>
                <%= f.text_field :start_date, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="form-dates-group">
            <h6>Ending at</h6>
            <div class="flex-container">
              <div class="form-field">
                <%= f.label "Year", class: 'form-label' %>
                <%= f.text_field :end_year, class: 'form-control', value: '2023' %>
              </div>
              <div class="form-field">
                <%= f.label "Month", class: 'form-label' %>
                <%= f.text_field :end_month, class: 'form-control' %>
              </div>
              <div class="form-field">
                <%= f.label "Date", class: 'form-label' %>
                <%= f.text_field :end_date, class: 'form-control' %>
              </div>
            </div>
          </div>
      </div>

      <div class='form-group'>
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <div class='form-check'>
                  <%= tag.label class: 'form-check-label' do %>
                      <%= tag.check_box class: 'form-check-input' %>
                      <%= tag.text %>
                  <% end %>
              </div>
          <% end %>
      </div>

      <div class="button-group">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
