<% 
  @camp_type = @camp.camp_type.present? ? @camp.camp_type : 0;
%>

<div class="view-outer-container single-column">
  
  <%= render "components/cards/camp-thumb-card",
    organization: @organization,
    camp: @camp
  %>

  <div class="content">
    <%= render "components/titles/page-title",
    title: "Add activity" %>
    <%= form_with(url: create_activity_path, model: @activity, local: true, method: :post, html: { class: 'form-container' } ) do |f| %>

      <%# Overview %>
      <% if @camp_type != 1 %>
        <%= render "components/forms/overview", 
          f: f,
          form_target: @activity
        %>

        <div class="form-group image-upload">
          <%= f.label "Hero image", class: 'form-label' %>
          <div class="image-preview" id="imagePreview">
            <img src="" alt="Image Preview" class="image-preview__image">
            <span class="image-preview__default-text">Image will be displayed here</span>
          </div>
          <%= f.file_field :hero_image, class: 'form-control-file', id: 'imageUpload' %>
        </div>
      <% end %>

      

      <%# AGE GROUPS %>
      <%= render "components/forms/age_group", 
        f: f,
        form_target: @activity,
        form_parent: @camp
      %>

      <%# DATES %>
      <%= render "components/forms/dates", 
        f: f
      %>

      <%# PRICE %>
      <%= render "components/forms/price", 
        f: f,
        form_target: @activity,
        form_parent: @camp,
        base_price: @base_price,
        discount_price: @discount_price
      %>

      <% if @camp_type != 1 %>
        <div class='form-group'>
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <div class='form-check'>
                    <%= tag.label class: 'form-check-label' do %>
                        <%= tag.check_box class: 'form-check-input' %>
                        <%= tag.text %>
                    <% end %>
                </div>
            <% end %>
        </div>
      <% end %>

      <div class="button-group">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
