<!DOCTYPE html>
<html>
  <head>
    <title>Camper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="<%= mix('/css/app.css') %>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
    </style>


    <script src="<%= mix('/js/bootstrap.js') %>"></script>
  </head>

  <body>
    <div class="main-container">
      
      <%# Top Navigation %>
      <nav class="top-nav flex-container">
        <div class="flex-left">
          <div class="hamburger-menu"><div></div><div></div><div></div></div>
          <a href="<%= index_organization_path() %>">Top</a>
        </div>
        <div class="flex-right">
          <div class="profile-container">
            <% if user_signed_in? %>
              <div>
                <%= link_to "Add new organization", new_organization_path, class: "nav-link" %>
              </div>
              <div>
                <%= link_to "Profile", profile_detail_path(Profile.find_by(user_id: current_user.id)), class: "nav-link" %>
              </div>
              <div>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </div>
            <% else %>
            <% end %>
          </div>
        </div>
      </nav>


      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <div class="bg-white text-dark">
        <%= yield %>
      </div>
    </div>

    <!-- Javascript追加 -->
    <script src="<%= mix('/js/app.js') %>"></script>
  </body>
</html>
